<mat-toolbar>
  <span>LOGIN</span>
</mat-toolbar>
<mat-card class="my-card">
   <mat-card-content>
      <form class="my-form">
         <mat-form-field class="full-width">
            <mat-label>Username</mat-label>
            <input  matInput  placeholder="Username" type="text" name="username">
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input  matInput  placeholder="Password" name="password">
         </mat-form-field>
      </form>
   </mat-card-content>
   <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">LOGIN</button>
   </mat-card-actions>
</mat-card>

<!-- <div id="container">
        <div id="upper">
            <h3>Member Login</h3>
          </div>   
    <div>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username">
  <label for="password">Password:</label>
  <input type="password" id="password" name="password">
  <div id="lower">
  <input [(ngModel)]="logged" type="checkbox"><label for="checkbox">Keep me logged in</label>
  <input type="submit" value="Login" id="submit">
  <br>
  <a id="register" href="">No Account? Register Here</a>
    </div>
<p>login</p>
</div>
  </div> -->