<mat-toolbar>
  <span>LOGIN</span>
</mat-toolbar>
<mat-card class="my-card">
   <mat-card-content>
      <div class="my-form">
         <mat-form-field class="full-width">
            <mat-label>Username</mat-label>
            <input  matInput  placeholder="Username" type="text" [(ngModel)]="employee.username">
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input  matInput  placeholder="Password" [(ngModel)]="employee.password">
         </mat-form-field>
      </div>
   </mat-card-content>
   <mat-card-actions>
      <button mat-raised-button (click)="loginEmployee()" color="primary">LOGIN</button>
   </mat-card-actions>
</mat-card>
