<div id="container">
        <div id="upper">
            <h3>Member Login</h3>
          </div>   
    <div>

  <ul>
    <li *ngFor="let error of valErrors">{{error}}</li>
  </ul>

  <label for="username">Username:</label>
  <input required [(ngModel)]="employee.username" type="text" id="username" name="username" class="form-control" #name="ngModel">

  <label for="password">Password:</label>
  <input [(ngModel)]="employee.password" type="password" id="password" name="password" class="form-control">

  <div id="lower">
  <input (click)="loginEmployee()" type="submit" value="Login" id="submit" class="form-control">
  <br>
  <a routerLink="/register" id="register" >No Account? Register Here</a>

    </div>
</div>
  </div>
