<h2 *ngIf="show">Register</h2>


    <div layout="row" layout-wrap="99">

<mat-card  class="my-card">

<mat-card-header id="upper" layout-align="start start">
<mat-card-title>Registration</mat-card-title>
</mat-card-header>   
  <mat-card-content>
    <form class="my-form">
      <div>
       <mat-form-field class="full-width">
              <mat-label>Username</mat-label>
              <input  matInput name="username" [(ngModel)]="employee.username" placeholder="Enter username">
           </mat-form-field>
       </div>
       <div>
           <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input  matInput name="email" [(ngModel)]="employee.email" placeholder="Enter email">
           </mat-form-field>
          </div>
          <div>
           <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input  matInput name="password" [(ngModel)]="employee.password" placeholder="Password">
           </mat-form-field>
           </div>
           <div>
           <mat-form-field class="full-width">
              <mat-label>First Name</mat-label>
              <input  matInput name="first-name" [(ngModel)]="employee.firstName" placeholder="Enter first name">
           </mat-form-field>
          </div>
          <div>
           <mat-form-field class="full-width">
              <mat-label>Last Name</mat-label>
              <input  matInput name="last-name" [(ngModel)]="employee.lastName" placeholder="Enter last name">
           </mat-form-field>
          </div>
          <div>
           <mat-form-field class="full-width">
              <mat-label>Phone Number</mat-label>
              <input  matInput  [(ngModel)]="employee.phoneNumber" placeholder="Enter phone number"
              name="phone-number">
           </mat-form-field>
          </div>
          <div>
           <mat-checkbox class="full-width" label-position="after" 
           class="form-check-input" [(ngModel)]="employee.driver" name="check">
             <label>Are you a driver?</label>
            </mat-checkbox>   
          </div>   
    
  
   <mat-card-actions>
      <button mat-raised-button (click)="registerEmployee()" color="primary">Submit</button>
   </mat-card-actions>
  </form>
  </mat-card-content>
</mat-card>
</div>



















<!-- 
<mat-toolbar>
<span>Register</span>
</mat-toolbar>
<div>
  <p>{{result}}</p>

  <ul>
    <li *ngFor="let error of valErrors">{{error}}</li>
  </ul>
  
  <input type="hidden" [(ngModel)]="employee.employeeId" />

  <div class="">
    <label for="employee.username">Username</label>
    <input type="text" class="" [(ngModel)]="employee.username" placeholder="Enter username"/>
  </div>
  
  <div class="">
    <label for="employee.email">Email</label>
    <input type="email" class="" [(ngModel)]="employee.email" placeholder="Enter email"/>
  </div>

  <div class="">
    <label for="employee.password">Password</label>
    <input type="password" class="" [(ngModel)]="employee.password" placeholder="Password">
  </div>

  <div class="">
    <label for="employee.firstName">First Name</label>
    <input type="text" class="" [(ngModel)]="employee.firstName" placeholder="Enter first name">
  </div>

  <div class="">
    <label for="employee.lastName">Last Name</label>
    <input type="text" class="" [(ngModel)]="employee.lastName" placeholder="Enter last name">
  </div>

  <div class="">
    <label for="employee.phoneNumber">Phone number</label>
    <input type="text" class="" [(ngModel)]="employee.phoneNumber" placeholder="Enter phone number">
  </div>

  <div class="form-check">
    <input type="checkbox" class="form-check-input" [(ngModel)]="employee.driver">
    <label class="form-check-label" for="exampleCheck1">Are you a driver?</label>
  </div>

  <div *ngIf="employee.driver" class="form-group">
    <label for="employee.driverLicense">Driver License</label>
    <input type="text" class="form-control" [(ngModel)]="employee.driverLicense" placeholder="Enter driver license">
  </div>

  <button type="button" (click)="registerEmployee()" class="btn btn-primary">Register</button>
</div> -->
