<h1>Sechedule a new Ride</h1>

<div>
  <label for="">Car</label>
  <select [(ngModel)]="ride.car.carId">
  <option *ngFor="let car of cars" value= {{car.carId}}>
    {{car.make}} {{car.model}}
  </option>
</select>
</div>
<div>
  <label for="">Departure Date</label>
  <input type="text" [(ngModel)]="ride.departureDate" />
</div>
<div>
  <label for="">Departure Time</label>
  <input type="text" [(ngModel)]="ride.departureTime" />
</div>

<div>
  <label for="">Num Seats available</label>
  <input type="text" [(ngModel)]="ride.numberOfSeatsAvailable" />
</div>

<div>
  <label for="">Amount Charge</label>
  <input type="text" [(ngModel)]="ride.amountCharge" />
</div>

<div class="map" id="map"></div>
<ul>
  <li *ngFor="let route of routes">
    {{ route.name }} - {{ route.latitude }}, {{ route.longitude }}
    <button (click)="removeRoute(route)">Remove</button>
  </li>
</ul>

<button class="btn-lg" (click)="schedule()">Schedule ride</button>
<button class="btn-lg" (click)="goBack()">Cancel</button>
