<h4>Select A Car</h4>
    <mat-form-field>
        <mat-label>Select A Car</mat-label>
        <mat-select [(ngModel)]="ride.car.carId" >
          <mat-option *ngFor="let car of cars" value= {{car.carId}}>
              {{car.make}} {{car.model}}
          </mat-option>
        </mat-select>
      </mat-form-field>

<form>

<mat-form-field>
    <label for="">Departure Date</label>
    <input type="text" [(ngModel)]="ride.departureDate" />
  </mat-form-field>

  <mat-form-field>
      <label for="">Departure Time</label>
      <input type="text" [(ngModel)]="ride.departureTime" />
    </mat-form-field>

    <mat-form-field>
      <label for="">Num Seats available</label>
      <input type="text" [(ngModel)]="ride.numberOfSeatsAvailable" />
    </mat-form-field>

    <mat-form-field>
      <label for="">Amount Charge</label>
      <input type="text" [(ngModel)]="ride.amountCharge" />
    </mat-form-field>
  </form>



<div class="map" id="map"></div>
<ul>
  <li *ngFor="let route of routes">
    {{ route.name }} - {{ route.latitude }}, {{ route.longitude }}
    <button (click)="removeRoute(route)">Remove</button>
  </li>
</ul>

<button (click)="schedule()">Schedule ride</button>
<button (click)="goBack()">Cancel</button>
