<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
</head>
<body>
  
<div class="container text-center">    
  <h3>WELCOME, {{emp.firstName}} {{emp.lastName}}</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="https://image.freepik.com/free-vector/2019-calendar-design-with-black-background-vector_1142-5585.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>Check Schedules</p>
    </div>
    
    <div class="col-sm-4"> 
      <img src="https://is2-ssl.mzstatic.com/image/thumb/Purple113/v4/1a/92/6d/1a926dc9-7a5d-580b-a0fc-61bcd4fe97ed/source/512x512bb.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>Check Routes</p>    
    </div>
    <div class="col-sm-4">
      <div class="well">
       <p>Destinations</p>
      </div>
      <div class="well">
       <p>Give Feedback</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>

